<ul class="sectionHeader-nav">
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="/"> Mission </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="/"> Services </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="/"> Team </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="/"> News </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="/"> Contact </a>
  </li>
</ul>
