<ul class="sectionHeader-nav">
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="#mission"> Mission </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="#services"> Services </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="#team"> Team </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="#news"> News </a>
  </li>
  <li class="sectionHeader-nav-item">
    <a class="sectionHeader-nav-anchor" href="#contacts"> Contact </a>
  </li>
</ul>
