<button class="sectionFooter_inputBlock__button" type="submit">
  <div class="sectionFooter_inputBlock__button_inner buttonFont">
    <div class="sectionFooter_inputBlock__button_inner_text">
      {% if settings.footerButtonText.size == 0 %}
        <p>SEND</p>
      {% else %}
        <p>{{ settings.footerButtonText }}</p>
      {% endif %}
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 2.14286L8.46323 0L14 0V10H8.46323L6 7.85714V2.14286Z" fill="#0B0D21" />
        <path d="M14 2H20V4H14V2Z" fill="#0B0D21" />
        <path d="M14 6H20V8H14V6Z" fill="#0B0D21" />
        <path d="M0 6L0 4H6V6H0Z" fill="#0B0D21" />
        <path d="M8 6.5V3.5L9.33333 2H12V8H9.33333L8 6.5Z" fill="#F9D023" />
      </svg>
    </div>
  </div>
</button>
