.firstSection{ 
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width:100%;  
}
          

.firstSection__container{ 
  background-size: cover;
  background-repeat: no-repeat;           
  background-position:30% 100%;  
    @media(min-width: 1640px){  
  background-position:30% 25%; 

    }
   }

.firstSection__container::before {
  display: flex;
  position: absolute;
  content: '';    
  margin-top:0;
  width: 100%;;
  height: 100%;
  background: linear-gradient(0deg, #000000 2.41%, rgba(0, 0, 0, 0) 76.23%);
  background-position:30% 100%;
  z-index:1;  
                
              
  }
.firstSection__inner{
   margin-bottom:64px !important;
   @media(min-width: 750px){  
     margin-bottom:299px !important;}

          }

.firstSection__title{
 position:relative; 
  z-index:2;
  order:1;
  margin-top: 121px;
  @media(min-width: 750px){  
  margin-top: 413px;
  }
 }

.firstSection__text{
  margin-top: 16px;  
   z-index:2;
  order:2;
    @media(min-width: 750px){
     margin-top: 40px;;
    } 
}

.firstSection__btn{
      display: flex;
    justify-content: center;
  margin-top: 40px;              
  position:relative; 
  z-index:2;
  order:3;
    @media(min-width: 750px){  
  margin-top: 80px;

    }
 }

.firstSection_blockNav{
   display:none;
    @media(min-width: 1360px){
      display: block;
  position: absolute;
  width: 93px;
  height: 141px;
bottom:54px;
 left: 50%;
   z-index:2;
    }
}

.firstSection_blockNav_img{
  width: 90px;
  height: 101px;
}

.firstSection_blockNav_img img{
  width: 1px;
  height: 101px;
}

.firstSection__blockNav_textDiv{
     position: relative;
    margin-top: 22px;
    left: -50%;
}

.firstSection__blockNavText{
  color: white !important;
}
